<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.musinsatask.mapper.ProductMapper">
    <select id="brandList" resultType="string">
        SELECT DISTINCT brand
        FROM tb_products
    </select>

    <select id="categoryList" resultType="string">
        SELECT DISTINCT category
        FROM tb_products
    </select>

    <select id="lowestPriceProduct" resultType="com.example.musinsatask.vo.ProductVo">
        SELECT category,
               price,
               brand
        FROM tb_products
        WHERE category = #{category}
          AND brand = #{brand}
        ORDER BY price ASC LIMIT 1;
    </select>

    <select id="productData" resultType="com.example.musinsatask.vo.ProductVo">
        SELECT a.category,
               a.price,
               a.brand
        FROM tb_products a
                 INNER JOIN tb_brands b ON a.brand = b.brand
        WHERE a.category = #{category}
    </select>

    <select id="brandTotalSum" resultType="integer">
        SELECT SUM(price)
        FROM tb_products
        WHERE brand = #{brand}
    </select>

    <insert id="saveBrand">
        INSERT INTO tb_brands (brand)
        VALUES (#{brand})
    </insert>

    <delete id="deleteBrand">
        DELETE
        FROM tb_brands
        WHERE brand = #{brand}
    </delete>

    <delete id="deleteBrandProductAll">
        DELETE
        FROM tb_products
        WHERE brand = #{brand}
    </delete>

    <insert id="saveProduct">
        INSERT INTO tb_products (category, price, brand)
        VALUES (#{category}, #{price}, #{brand})
    </insert>

    <update id="updateProductCategory">
        UPDATE tb_products
        SET category = #{updateCategory}
        WHERE brand = #{brand}
          AND category = #{category}
    </update>

    <update id="updateProductPrice">
        UPDATE tb_products
        SET price = #{price}
        WHERE brand = #{brand}
          AND category = #{category}
    </update>

    <delete id="deleteProduct">
        DELETE
        FROM tb_products
        WHERE category = #{category}
          AND brand = #{brand}
    </delete>

</mapper>